#======================================
# Directories
#--------------------------------------
coverage/
node_modules/
target/
tmp/

#======================================
# Extensions
#--------------------------------------
*.gz
*.log
*.rar
*.tar
*.zip
*.css

#======================================
# IDE generated
#--------------------------------------
.idea/
.project
*.iml


#======================================
# OS generated
#--------------------------------------
__MACOSX/
.DS_Store
Thumbs.db
