// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.top-clip {
  height: 400px;
  width: 100%;
  background-color: green;
}

.feature-article {
  margin-top: 20px;
}

.article-item {
  height: 250px;
  background: orange;
}